<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs', {title: 'Comic vs Manga'}) %>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/opacity.js"></script>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <!-- Images Slider 
        
        <div class="main__slider-img main__slider-img-nooverlay" >
            <ul>
                <li>
                    <img src="/images/mainSlider/slider1.png" alt="Slider Manga" class="slider__img slider__img-above">
                </li>
                <li>
                    <img src="/images/mainSlider/slider2.png" alt="Slider Marvel" class="slider__img slider__img-above">
                </li>
                <li>
                    <img src="/images/mainSlider/slider3.png" alt="Slider DC" class="slider__img slider__img-above">
                </li>
                <li>
                    <img src="/images/mainSlider/slider4.png" alt="Slider Independiente" class="slider__img slider__img-above">
                </li>
            </ul>
        </div>

        <div class="main__slider-img">
            <ul>
                <li>
                    <img src="/images/mainSlider/slider1.png" alt="Slider Manga" class="slider__img">
                </li>
                <li>
                    <img src="/images/mainSlider/slider2.png" alt="Slider Marvel" class="slider__img">
                </li>
                <li>
                    <img src="/images/mainSlider/slider3.png" alt="Slider DC" class="slider__img">
                </li>
                <li>
                    <img src="/images/mainSlider/slider4.png" alt="Slider Independiente" class="slider__img">
                </li>
            </ul>
        </div>
        -->

        <div class="main__slider">
            <ul>
                <li>
                    <h1 class="slider__title-1 slider__title1-manga">HOME</h1>
                    <div class="slider__title-2 slider__title2-manga">
                        <div></div>
                        <h1>DECOR</h1>
                    </div>
                    <h2>Movers and staging to make the home look its best!</h2>
                </li>
                <li>
                    <h1 class="slider__title-1 slider__title1-marvel">HOUSE</h1>
                    <div class="slider__title-2 slider__title2-marvel">
                        <div></div>
                        <h1>CLEANING</h1>
                    </div>
                    <h2>General cleaning, carpet & window cleaning, and more!</h2>
                </li>
                <li>
                    <h1 class="slider__title-1 slider__title1-dc">PHOTO &</h1>
                    <div class="slider__title-2 slider__title2-dc">
                        <div></div>
                        <h1>VIDEO</h1>
                    </div>
                    <h2>Photos, drone video, social media reels</h2>
                </li>
                <li>
                    <h1 class="slider__title-1 slider__title1-independent">HOME</h1>
                    <div class="slider__title-2 slider__title2-independent">
                        <div></div>
                        <h1>MAINTENANCE</h1>
                    </div>
                    <h2>Miscellaneous home maintenance services!</h2>
                </li>
            </ul>
        </div>

        <!-- Categories -->
        <div class="main__categories1"></div>
        <section class="main__categories">
            <div class="main__categories-title">
                <h2>CATEGORIES</h2>
                <h3>Choose the service you need</h3>
            </div>
            <div class="main__slider-all">
                <!-- Slider Cleaners -->
                <article class="main__slider-container main__slider-container-marvel">
                    <a href="/products/marvel" class="main__slider-categories">
                        <ul>
                            <li>
                                <img src="/images/cleanerSlider/sliderCleaner1.png" alt="Cleaner 1" class="slider__img-categories slider__img-categories1">
                            </li>
                            <li>
                                <img src="/images/cleanerSlider/sliderCleaner2.png" alt="Cleaner 2" class="slider__img-categories slider__img-categories2">
                            </li>
                            <li>
                                <img src="/images/cleanerSlider/sliderCleaner3.png" alt="Cleaner 3" class="slider__img-categories slider__img-categories3">
                            </li>
                        </ul>
                    </a>
                    <h2 class="slider-title">HOUSE <B>CLEANING</B></h2>
                </article>
                <!-- Slider Photographers -->
                <article class="main__slider-container main__slider-container-DC">
                    <a href="/products/dc" class="main__slider-categories">
                        <ul>
                            <li>
                                <img src="/images/photoSlider/sliderPhoto1.png" alt="Photographer 1" class="slider__img-categories slider__img-categories1">
                            </li>
                            <li>
                                <img src="/images/photoSlider/sliderPhoto2.png" alt="Photographer 2" class="slider__img-categories slider__img-categories2">
                            </li>
                            <li>
                                <img src="/images/photoSlider/sliderPhoto3.png" alt="Photographer 3" class="slider__img-categories slider__img-categories3">
                            </li>
                        </ul>
                    </a>
                    <h2 class="slider-title">PHOTO & <B>VIDEO</B></h2>
                </article>
                <!-- Slider Decor -->
                <article class="main__slider-container main__slider-container-manga">
                    <a href="/products/manga" class="main__slider-categories">
                        <ul>
                            <li>
                                <img src="/images/decorSlider/sliderDecor1.png" alt="Decor 1" class="slider__img-categories slider__img-categories1">
                            </li>
                            <li>
                                <img src="/images/decorSlider/sliderDecor2.png" alt="Decor 2" class="slider__img-categories slider__img-categories2">
                            </li>
                            <li>
                                <img src="/images/decorSlider/sliderDecor3.png" alt="Decor 3" class="slider__img-categories slider__img-categories3">
                            </li>
                        </ul>
                    </a>
                    <h2 class="slider-title">HOME DECOR <B>& STAGING</B></h2>
                </article>
                <!-- Slider Maintenance -->
                <article class="main__slider-container main__slider-container-independent">
                    <a href="/products/independent" class="main__slider-categories">
                        <ul>
                            <li>
                                <img src="/images/maintenanceSlider/sliderMaintenance1.png" alt="Maintenance 1" class="slider__img-categories slider__img-categories1">
                            </li>
                            <li>
                                <img src="/images/maintenanceSlider/sliderMaintenance2.png" alt="Maintenance 2" class="slider__img-categories slider__img-categories2">
                            </li>
                            <li>
                                <img src="/images/maintenanceSlider/sliderMaintenance3.png" alt="Maintenance 3" class="slider__img-categories slider__img-categories3">
                            </li>
                        </ul>
                    </a>
                    <h2 class="slider-title">HOME <B>MAINTENANCE</B></h2>
                </article>
            </div>
            <div class="main__categories-title2">
                <h2>CATEGORIES</h2>
                <h3>What kind of service are you looking for?</h3>
                <div>
                    <a class="main__categories-title2-marvel" href="/products/marvel">HOUSE <b>CLEANING</b></a>
                    <a class="main__categories-title2-DC" href="/products/dc">PHOTO AND <b>VIDEO</b></a>
                    <a class="main__categories-title2-manga" href="/products/manga">HOME <b>DECOR</b></a>
                    <a class="main__categories-title2-independent" href="/products/independent">HOME <b>MAINTENANCE</b></a>
                </div>
            </div>
        </section>
        <div class="main__categories2"></div>

        <!-- Featured services -->
        <div class="main__featured-products1"></div>
        <section class="main__featured-products">
            <h2 class="featured-products__title">Featured<br>services</h2>

            <div class="main__categories-title2">
                <h2>FEATURED SERVICES</h2 >
                <!--<h3>Top ranked vendors</h3>-->
            </div>
            <!--
            <img src="/images/battles.png" alt="Titulo productos destacados" class="featured-products__title-img featured-products__title-img-above">
            <img src="/images/battles1.png" alt="Titulo productos destacados" class="featured-products__title-img">
            -->

            <div class="featured-products__container-all">
                <% for(let i = 0; i < featuredProducts.length; i++) { %>
                    <article class="featured-products__container">
                        <a href="/products/detail/<%= featuredProducts[i].product_id %>">
                            <img src="/images/products/<%= featuredProducts[i].image %>" alt="Imagen del producto" class="featured-products__img">
                            <form action="/shopping-cart" method="post">
                                <input type="hidden" value="<%= featuredProducts[i].product_id %>" name="id">
                                <button type="submit" href="/shopping-cart" class="shopping-cart__container">
                                    <i class="fa-solid fa-cart-shopping fa-cart-shopping-products"></i>
                                </button>
                            </form>
                            <h3><%= featuredProducts[i].name %></h3>
                            <p><b><%= featuredProducts[i].price %></b> COP</p>
                        </a>
                    </article>
                <% } %>
            </div>
        </section>
        <div class="main__featured-products2"></div>

        <!-- Beneficios -->
        <div class="main__advantages1"></div>
        <section class="main__advantages">
            <h2 class="advantages__title">¡Lucha a<br>nuestro lado!</h2>
            <img src="/images/advantages.png" alt="Titulo beneficios" class="advantages__title-img advantages__title-img-above">
            <img src="/images/advantages1.png" alt="Titulo beneficios" class="advantages__title-img">
            <div class="advantage__container-all">
                <article class="advantage__container">
                    <i class="fa-solid fa-truck"></i>
                    <p>Envios a toda Colombia</p>
                </article>
                <article class="advantage__container">
                    <i class="fa-solid fa-credit-card"></i>
                    <p>Diversos medios de pago</p>
                </article>
                <article class="advantage__container">
                    <i class="fa-solid fa-face-grin-beam"></i>
                    <p>Gran diversidad</p>
                </article>
            </div>
            <img src="/images/advantages.png" alt="Titulo beneficios" class="advantages__title-img2 advantages__title-img-above2">
            <img src="/images/advantages1.png" alt="Titulo beneficios" class="advantages__title-img2">
        </section>
    </main>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>